<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <h1>Search</h1>
    <form method="get" action="/">
        <input type="text" name="search" value="" placeholder="">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
